{% extends "index.html" %}
{% block content %}
<div class="card" style="min-height: calc(100vh - 112px);">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="toolbar">
                    <h4 class="toolbar-title">List of Orders</h4>
                    <button data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#orderModal"
                        type="button" class="btn btn-primary" onclick="resetForm()">New Order <i
                            class="fa fa-cart-plus"></i></button>
                </div>
            </div>
            <div class="col-12">
                {% block alert %}
                {% endblock %}
            </div>
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Order Date</th>
                            <th>Customer</th>
                            <th>Created By</th>
                            <th>Product</th>
                            <th>Product Qty</th>
                            <th>Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="orderTable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<form id="orderForm" method="post">
    <!-- The Modal -->
    <div class="modal fade" id="orderModal">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modalTitle">New Order</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" name="product_id" id="productIdInput">
                    <input type="hidden" name="customer_id" id="customerIdInput">
                    <input type="hidden" name="stock_qty" id="stockQtyInput">
                    <input type="hidden" name="price" id="priceInput">
                    <div class="form-group">
                        <label for="orderDate">Order Date:</label>
                        <input required id="orderDate" type="date" class="form-control" placeholder="Enter order date"
                            name="order_date">
                    </div>
                    <div class="form-group">
                        <label for="orderStatus">Order Status:</label>
                        <select id="orderStatus" required type="date" class="form-control" name='status'>
                            <option value="processing">Processing</option>
                            <option value="shipped">Shipped</option>
                            <option value="delivered">Delivered</option>
                            <option value="returned">Returned</option>
                            <option value="cancelled">Cancelled</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="customers">Customer:</label>
                        <select onchange="onCustomerSelect()" id="customers" required type="date" class="form-control"
                            name='customer_name'>
                            <option value="">Select Customer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contactPerson">Contact Person:</label>
                        <input id="contactPerson" required type="text" class="form-control"
                            placeholder="Enter contact person name" name="contact_person">
                    </div>
                    <div class="form-group">
                        <label for="products">Product:</label>
                        <select id="products" onchange="productSelected()" required type="date" class="form-control"
                            name='product_name'>
                            <option value="">Select Product</option>
                        </select>
                        <div class="row text-success mt-2">
                            <div class="col" id="price"></div>
                            <div class="col text-right" id="stockQty"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input value="1" id="quantity" required type="number" class="form-control"
                            placeholder="Enter Quantity" name="product_qty">
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" onclick="validateForm(event)" class="btn btn-primary">Save Order</button>
                </div>

            </div>
        </div>
    </div>

</form>

<script>
    var products = [];
    var customers = [];
    window.onload = function () {
        getAllCustomers();
        getAllProducts();
        getAllOrders();
    };
    function getAllProducts() {
        products = [];
        $.ajax({
            url: '/get_all_products/',
            method: 'get',
            success: function (response) {
                products = response;
                $(products).each(function (index, product) {
                    console.log(product);
                    $("#products").append("<option value='" + product.fields.name + "'>" + product.fields.name + "</option>");
                })
            },
            error: function (error) {
                console.log("Error ", error)
            }
        });
    }

    function getAllCustomers() {
        $.ajax({
            url: '/get_all_customers/',
            method: 'get',
            success: function (response) {
                console.log(response);

                customers = response;
                $(customers).each(function (index, customer) {
                    console.log(customer);
                    $("#customers").append("<option value='" + customer.fields.name + "'>" + customer.fields.name + "</option>");
                })
            },
            error: function (error) {
                console.log("Error ", error)
            }
        });
    }

    function onCustomerSelect() {
        const selectedCustomer = customers[$("#customers option:selected").index() - 1];
        console.log("selectedCustomer ", selectedCustomer)
        $("#customerIdInput").val(selectedCustomer.pk);
    }

    function productSelected() {
        const selectedProduct = products[$("#products option:selected").index() - 1];
        $("#price").html("");
        $("#stockQty").html("");
        $("#price").html("Price - Rs. " + selectedProduct.fields.price);
        $("#stockQty").html("Stock Quantity - " + selectedProduct.fields.stock_qty);
        $("#productIdInput").val(selectedProduct.pk);
        $("#stockQtyInput").val(selectedProduct.fields.stock_qty);
        $("#priceInput").val(selectedProduct.fields.price);
    }

    function validateForm() {
        var qty = Number($("#quantity").val());
        var stockQty = Number($("#stockQtyInput").val());
        if (($("#orderId").val() == "" || !$("#orderId").val()) && (stockQty - qty) < 0) {
            return;
        } else {
            $("#orderForm")[0].setAttribute("action", "/create-order/");
            $("#orderForm")[0].submit();
        }


    }

    function getAllOrders() {
        $.ajax({
            url: '/get_all_orders/',
            method: 'get',
            success: function (response) {
                console.log(response);
                $("#orderTable").empty();

                orders = response;
                if (orders.length > 0) {
                    $(orders).each(function (index, order) {
                        $("#orderTable").append("<tr>" +
                            "<td>" + order.pk + "</td>" +
                            "<td>" + order.fields.order_date + "</td>" +
                            "<td>" + order.fields.customer_name + "</td>" +
                            "<td>" + order.fields.created_by + "</td>" +
                            "<td>" + order.fields.product_name + "</td>" +
                            "<td>" + order.fields.product_qty + "</td>" +
                            "<td class='text-capitalize'>" + order.fields.status + "</td>" +
                            " <td class='text-center'>" +
                            "<button class='btn btn-outline' type='submit' data-toggle='modal' data-target='#orderModal' onclick='getOrderById( " + order.pk + " )'>" +
                            "<i class='fa fa-edit'></i>" +
                            "</td>" +
                            "</tr>");
                    });
                } else {
                    $("#orderTable").html("<tr><td colspan='7'>No orders available</td></tr>");
                }
            },
            error: function (error) {
                console.log("Error ", error)
            }
        });
    }

    function getOrderById(id) {
        resetForm();
        $.ajax({
            url: '/order-by-id/',
            method: 'post',
            data: { order_no: id },
            success: function (response) {
                const order = response[0].fields;
                $("#modalTitle").html('Edit Order');
                $("#orderForm").append("<input type='hidden' id='orderId' name='order_no' value='" + response[0].pk + "'>");
                $("#orderModal .modal-body").prepend("<h6 id='orderNoText' class='text-center'>Order No: " + response[0].pk + "</h6>");
                $("#orderDate").val(order.order_date);
                $("#orderStatus").val(order.status);
                $("#customers").val(order.customer_name);
                $("#customerIdInput").val(order.customer_id);
                $("#contactPerson").val(order.contact_person);
                $("#products").val(order.product_name);
                $("#productIdInput").val(order.product_id);
                $("#quantity").val(order.product_qty);
                $("#quantity").prop('disabled', true);
                $("#orderStatus").prop('disabled', false);
                productSelected();
            },
            error: function (error) {
                console.log("Error ", error)
            }
        });
    }


    function resetForm() {
        $("#modalTitle").html('New Order');
        $("#orderForm")[0].reset();
        $("#orderForm [name=order_id]").remove();
        $("#orderNoText").remove();
        $("#quantity").prop('disabled', false);
        $("#orderStatus").prop('disabled', true);
    }
</script>

{% endblock %}